html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", "Noto Sans CJK KR", sans-serif;
  height: 100%;
  width: 100%;
}

input,
button {
  font-family: "Noto Sans KR", "Noto Sans CJK KR", sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
}

#__next {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
