.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);

  @media (max-width: 768px) {
    align-items: start;
    background: #ffffff;
  }
}
